@{
    ViewData["Title"] = "Employee Dashboard";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome, Employee!</h1>
        <p>This is your Employee Dashboard. You can view your details, apply for leave, and check your payslips here.</p>
        <hr />
        <a href="@Url.Action("Login", "Account")" class="btn btn-danger">Logout</a>
    </div>
</div>